@charset "UTF-8";

#table{
	width:80%;
	margin:0 auto;
}

thead tr th{
	width:14%;
}

.subject{
	width:55%;
}
.hit{
	width:6%;
}
.boardno{
	width:6%;
}

#paging{
	margin:0 auto;
	width:80%;
}

form{
	width:80%;
	margin: 0 auto;
}

.btn{
	margin:10px 0px 10px;
	float:right;
}

.d-flex{
	margin:0 auto;
	width:40%;
	
}