<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
	<header>
		<ul>
			<li><a href="#">HOME</a></li>
			<li><form method="get" action="#"><li>
				<li><input type="text" name="search"></li>
				<li><input type="submit" value="검색"></li>
			<li></form></li>
			<li><a href="#">로그인</a></li>
		</ul>
	</header>
	
	
	<section>
	
	</section>
	
	
	<footer>
		
	</footer>
</body>
</html>